@import "tailwindcss";
@plugin "tailwindcss-animate";


body {
  font-family: var(--body-font);
  background-color: var(--website-body-color);
  color: var(--website-text-color, #525252);
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.accent {
  color: var(--primary-accent);
}

.bg-accent {
  background-color: var(--primary-button-background);
}

header.nav-bg-scroll {
  background-color: var(--header-scroll-background-color);
}

.nav-bg-scroll .navItem {
  color: var(--header-navigation-scroll-color);
}

.nav-bg-fixed {
  background-color: var(--header-background-color);
}

.navItem {
  color: var(--header-navigation-color);
}

.primary-button {
  background-color: var(--primary-button-background);
  color: var(--primary-button-text);
  border-radius: var(--button-radius);
  padding-left: var(--button-x-padding);
  padding-right: var(--button-x-padding);
  padding-top: var(--button-y-padding);
  padding-bottom: var(--button-y-padding);
}

.secondary-button {
  background-color: var(--secondary-button-background);
  color: var(--secondary-button-text);
  border-radius: var(--button-radius);
  padding-left: var(--button-x-padding);
  padding-right: var(--button-x-padding);
  padding-top: var(--button-y-padding);
  padding-bottom: var(--button-y-padding);
}

/* NAVBAR */

.mobileBg {
  background-color: var(--mobile-bg-color);
}

.mobileNavItem {
  color: var(--mobile-nav-color);
  font-family: var(--heading-font) !important;
}

/* CONTENT */
body .content h1,
body .content h2,
body .content h3,
body .content h4,
body .content h5,
body .content h6 {
  color: var(--website-heading-color, #000);
  font-family: var(--heading-font);
}

.heading-font {
  font-family: var(--heading-font);
}

/*  FORM  */

input[type="radio"]:checked:focus {
  background-color: var(--radio-color);
}

input[type="radio"]:checked:hover {
  background-color: var(--radio-color);
  /* @apply outline-none */
}

input[type="radio"]:checked {
  /* Change the background color of the radio button circle when checked */
  background-color: var(--radio-color);
  background-image: none;
}

.slide-up {
  transform: translateY(-100%);
}

.slide-down {
  transform: translateY(0%);
}

@utility content {
  & h1 {
    font-size: theme("fontSize.3xl");

    @variant md {
      font-size: theme("fontSize.5xl");
    }
  }

  & h2 {
    font-size: theme("fontSize.3xl");

    @variant md {
      font-size: theme("fontSize.4xl");
    }
  }

  & h3 {
    font-size: theme("fontSize.lg");

    @variant md {
      font-size: theme("fontSize.2xl");
    }
  }

  & h4 {
    font-size: theme("fontSize.lg");
  }

  & p {
    margin-bottom: 1rem;
    line-height: 1.8;
  }

  & li {
    margin-bottom: 6px;
  }

  & ol {
    list-style-type: decimal; /* spelling! */
    list-style-position: inside;
    padding-left: 1em; /* optional, if you want indent */
  }

  & ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 1em; /* optional */
  }
}

@utility container {
  margin-inline: auto;
  padding: 0 12px;
  @variant sm {
    padding-inline: 20px;
  }

  @variant md {
    padding-inline: 40px;
  }
}

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}